.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

.header {
  background: #ffffff;
}

.menu-nav {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo :hover,
:focus {
  color: #404bbf;
}

.style-logo {
  color: #2e2f42;
}

.menu {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.nav-itm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-content {
  line-height: 150%;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}

.mail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail :hover,
:focus {
  color: #404bbf;
}

.section {
  background: #2e2f42;
}

.title {
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
}
.button {
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover,
:focus {
  background-color: #404bbf;
}

.subtitle {
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.list {
  background: #fff;
}
.desc {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.gallery {
  background: #f4f4fd;
}
.gallery-tagline {
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
}
.gallery-list {
}
.gallery-item {
  background-color: #ffffff;
}
.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.gallery-text {
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}
.portfolio {
}
.portfolio-title {
  text-transform: capitalize;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-product {
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;
}
.portfolio-text {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;

  font-weight: 400;
  font-size: 16px;
}

.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.style-logo-footer {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
